<!-- header-1 -->
        <header class="header-1 collapse-header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation" style="top: -6px;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="index.html#home"><img src="img/haleylogo_offwhite_normal.png" style="width: auto; height: 25px; margin-top: 6px;" alt=""></a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li><a href="index.html#home">HOME</a></li>
                                <li><a href="index.html#about">ABOUT</a></li>
                                <li><a href="index.html#tech">TECH</a></li>
                                <li><a href="developers.html">DEVELOPERS</a></li>
                                <li><a href="bots.html">BOTS</a></li>
                                <li><a href="device.html">DEVICE</a></li>
                                <li><a target="_blank" href="https://vitalai.com/">BLOG</a></li>
                                <li><a href="index.html#contact">CONTACT</a></li>
                            </ul>
                            <ul class="subnav">
               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
